# ------------------------------------------------------------------------------ #
# Java defaults (https://github.com/github/gitignore/blob/master/Java.gitignore) #
# ------------------------------------------------------------------------------ #
*.class

# Package Files #
*.jar
*.war
*.ear

# ------------------------------------------------------------------------------------------- #
# Eclipse-specific (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore) #
# ------------------------------------------------------------------------------------------- #
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# --------------- #
# Studio-specific #
# --------------- #
target/
.mule/**
.mule/**/*
.DS_Store
velocity.log
.tooling-apps-cache/
.tooling/

# -------------------------- #
# secure-properties-specific #
# -------------------------- #
secure-properties/target/
secure-properties/.mule/**
secure-properties/.mule/**/*
secure-properties/.DS_Store
secure-properties/velocity.log
secure-properties/.tooling-apps-cache/
secure-properties/.tooling/
secure-properties/exchange-docs/
secure-properties/.classpath
secure-properties/.project

# ------------------ #
# translate-specific #
# ------------------ #
*/target/
*/.mule/**
*/.mule/**/*
*/.DS_Store
*/velocity.log
*/.tooling-apps-cache/
*/.tooling/
*/exchange-docs/
*/.classpath
*/.project
*/reports/
stubs.xml
*/src/main/resources/weave/